extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue felis, tincidunt id ex eget, aliquet ultrices tellus. Nunc et vehicula eros, nec molestie leo. Pellentesque tincidunt eros diam, eu blandit libero viverra eget. Praesent blandit auctor risus, et vestibulum ex egestas a. Donec in est et dui vulputate maximus. Phasellus gravida libero et gravida dignissim.

                p Nullam rutrum neque in condimentum viverra. Fusce imperdiet dictum justo, vitae cursus lacus euismod at. Aliquam congue vehicula justo, pellentesque posuere velit ultrices sit amet. Donec nec volutpat nunc, at volutpat neque. Aliquam erat volutpat. Cras a magna in metus blandit accumsan. Suspendisse eleifend turpis in interdum consequat.

                p Mauris sit amet porttitor arcu. Duis viverra metus non leo tincidunt finibus. In malesuada elit vel pretium tempus. Ut ultricies sapien id accumsan vestibulum. Aliquam erat volutpat. Maecenas rhoncus consequat metus, a malesuada mi aliquam eu. Etiam auctor tincidunt porta. Nunc commodo nisi id ex dignissim, ornare lobortis mi blandit. Cras congue vitae leo efficitur volutpat. Sed et leo eu nunc ultricies auctor id in nisi. Duis quis lacinia nisi.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ut ultricies sapien id accumsan vestibulum. Aliquam erat volutpat. Maecenas rhoncus consequat metus, a malesuada mi aliquam eu. Etiam auctor tincidunt porta. Nunc commodo nisi id ex dignissim, ornare lobortis mi blandit.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ut ultricies sapien id accumsan vestibulum. Aliquam erat volutpat. Maecenas rhoncus consequat metus, a malesuada mi aliquam eu. Etiam auctor tincidunt porta. Nunc commodo nisi id ex dignissim, ornare lobortis mi blandit.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Ut ultricies sapien id accumsan vestibulum. Aliquam erat volutpat. Maecenas rhoncus consequat metus, a malesuada mi aliquam eu. Etiam auctor tincidunt porta. Nunc commodo nisi id ex dignissim, ornare lobortis mi blandit.


//- p= viaje
//- p #{viaje}